<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>controller.product.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.product.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>controller.product.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.product.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEdit</servlet-name>
        <servlet-class>controller.product.LoadEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSupplier</servlet-name>
        <servlet-class>controller.supplier.ListSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplier</servlet-name>
        <servlet-class>controller.supplier.AddSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listOrder</servlet-name>
        <servlet-class>controller.order.listOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrder</servlet-name>
        <servlet-class>controller.order.ListOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderSupplier</servlet-name>
        <servlet-class>controller.order.ListOrderSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderProdcut</servlet-name>
        <servlet-class>controller.order.ListOrderProdcut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderProduct</servlet-name>
        <servlet-class>controller.order.ListOrderProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderSupplier</servlet-name>
        <servlet-class>controller.order.AddOrderSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderProduct</servlet-name>
        <servlet-class>controller.order.AddOrderProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>controller.order.AddOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrder</servlet-name>
        <servlet-class>controller.order.LoadOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>controller.product.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>controller.order.ViewOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEdit</servlet-name>
        <url-pattern>/LoadEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSupplier</servlet-name>
        <url-pattern>/ListSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplier</servlet-name>
        <url-pattern>/AddSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listOrder</servlet-name>
        <url-pattern>/listOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrder</servlet-name>
        <url-pattern>/ListOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderSupplier</servlet-name>
        <url-pattern>/ListOrderSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderProdcut</servlet-name>
        <url-pattern>/ListOrderProdcut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderProduct</servlet-name>
        <url-pattern>/ListOrderProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderSupplier</servlet-name>
        <url-pattern>/AddOrderSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderProduct</servlet-name>
        <url-pattern>/AddOrderProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/AddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrder</servlet-name>
        <url-pattern>/LoadOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/ViewOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
